.about_div_left {
    width: 50%;
}

.about_div_right {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: right;

}

.about_image {
    border-radius: 10%;
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 1000px) {
    .about_div_right {
        width: auto;
    }
    .about_div_left {
        width: auto;
    }
}