.experiences_main_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.experiences_center_div {
    display: block;
    text-align: center;
    width: 700px;
}

.experiences_header_div {
    display: block;
    text-align: left;
}

.experiences_image {
    width: 100%;
    height: 500px;
}

.experiences_desc_div {
    display: block;
    text-align: left;
    border-bottom: 1px solid #666666;
}


@media screen and (max-width: 1000px) {
    .experiences_div_left {
        width: auto;
    }
    
    .experiences_div_right {
        width: auto;
    }
}