.nav-bar ul {
    width: 100%;
    position: fixed;
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    border: 1px solid e7e7e7;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: #666;
    text-emphasis: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover {
    border-bottom: 3px solid rgb(51, 118, 234);
}


body {
    padding-top: 75px;
}

table {
    width: 100%;
    text-align: left;
    background: beige;
}

#profile-photo {
    border-radius: 50%;
}

p, a {
    font-size: 16;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

@media only screen and (max-width: 1000px) {
    
    img {
        width: 100%;
        height: auto;
    }

    table {
        padding: 25px;
    }

    .interior {
        padding: 40px 15px;
    }

    .nav-bar li a {
        font-size: 70%;
    }
  }